body{
    text-align: center;
    background-color: aliceblue;

}
#p-color {
    color: red;
    font-size: 130%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 500cm;
    position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.login_div
{
	background: rgba(50, 48, 48, 0.8);float: none;border-radius: 15px;text-align: center;
}
.p2-color{
    color: white;
    float: left;
}